.container{
    width: 100%;
    display: flex;
    @media screen and( max-width: 768px){
        flex-direction: column;
    }

}

.bike{
    position: relative;
    padding-top: 220px;
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100vh;

    align-items: center;
        @media screen and( max-width: 768px){
            width: 100%;
            padding: 77px 0 90px 0;
        }

        @media screen and (max-width: 767){
            background-size: 100%;
            height: auto;
            padding: 25vw 0;
            background-size: 103%;
        }

        &:before{
            content: '';
            top:0;
            left:0;
            position: absolute ;
            width: 100%;
            height: 100%;
            opacity: .7;
        }
    }

    
    
.product{
    background: url("../../build/img/Calque 5.svg") center bottom no-repeat;
    background-size: 103%;
    &:before{
        background-image: linear-gradient(0deg, rgba(71, 177, 175, 0.5) 0%, rgba(25, 62, 173, 0.5) 100%);
    }
    
    @media screen and( max-width: 1366px){
        
        background-size: 120%;
    }
    @media screen and( max-width: 768px) and (min-width: 767px){
        background-size: 106%;
        padding: 115px 0 60px 0;
    }
    @media screen and( max-width: 767px){
        height: auto;
        padding: 25vw 0;
        background-size: 103%;
    }
  
}
.card{
    background: url('../../build/img/Calque 4.svg') center bottom no-repeat;
    background-size: 131%;
    @media screen and( max-width: 1366px){
        
        background-size: 120%;
    }
    @media screen and( max-width: 768px) and (min-width: 767px){
        background-size: 106%;
        padding: 115px 0 60px 0;
    }
    &:before{
        background-image: linear-gradient(0deg, #e192ff 0%, #7e30c0 100%);
    }
    @media screen and( max-width: 767px){
        height: auto;
        padding: 25vw 0;
    }
}

.bike__descr{
    position: relative;
    text-align: center;
    z-index: 1;
}

.product_title{
    font-family: "High Tide", sans-serif;
    font-weight: normal;
    
}
.card_title{
    font-family: "DymaxionScript",sans-serif;
    
}

.product_title,
.card_title{
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 0;
    @media screen and( max-width: 768px){
        font-size: 100px;
        margin-bottom: 35px;
    }
    @media screen and( max-width: 767px){
        font-size: 45px;
    }
}

.product_text,
.card_text{
    color: #ffffff;
    font-family: "Odin Rounded", sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 45px;
    line-height: 1;
    margin: 0 0 45px 0;
    margin-bottom: 80px;
        @media screen and( max-width: 768px){
            font-size: 55px;
        }
    @media screen and( max-width: 767px){
        margin-bottom: 20px;
        font-size: 25px;
    }
}


.product_button,
.card_button{
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 15px;
    cursor: pointer;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    transition: all .2s ease-in-out; //Проверить свойство

    &:hover {
        background-color: rgb(255, 255, 255, 0.3);
        color: #333;
    }
    @media screen and( max-width: 768px){
        font-size: 25px;
    }
    @media screen and( max-width: 767px){
        font-size: 14px;
    }
}

.w-100p {
    width: 100%;
    padding: 77px 0 90px 0;
    background-size: 106%;
}

.column {
    flex-direction: column;
}

.tablet-title {
    font-size: 100px;
    margin-bottom: 35px;
}

.tablet-text {
    font-size: 55px;
}

.tablet-button {
    font-size: 25px;
}